# > Ai general rules
HOST,api.statsig.com,ai
HOST,browser-intake-datadoghq.com,ai
HOST,static.cloudflareinsights.com,ai
HOST-SUFFIX,algolia.net,ai
HOST-SUFFIX,auth0.com,ai
HOST-SUFFIX,cloudflare.com,ai
HOST-SUFFIX,arkoselabs.com,ai
HOST-SUFFIX,statsigapi.net,ai
HOST-SUFFIX,featuregates.org,ai
HOST-SUFFIX,identrust.com,ai
HOST-SUFFIX,intercom.io,ai
HOST-SUFFIX,intercomcdn.com,ai
HOST-SUFFIX,launchdarkly.com,ai
HOST-SUFFIX,segment.io,ai
HOST-SUFFIX,amazonaws.com,ai
HOST-SUFFIX,wp.com,ai
HOST-SUFFIX,sentry.io,ai
HOST-SUFFIX,stripe.com,ai

# > Anthropic/Claude
HOST,cdn.usefathom.com,ai
HOST-SUFFIX,anthropic.com,ai
HOST-SUFFIX,claude.ai,ai
HOST-SUFFIX,claudeusercontent.com,ai

# > Cursor
HOST-SUFFIX,cursor.sh,ai

# > Dify AI
HOST-SUFFIX,dify.ai,ai

# > Google AI (Gemini/Bard)
HOST,ai.google.dev,ai
HOST,makersuite.google.com,ai
HOST-SUFFIX,gemini.google.com,ai
HOST-SUFFIX,apis.google.com,ai
HOST-SUFFIX,clients6.google.com,ai
HOST-SUFFIX,clients4.google.com,ai
HOST-SUFFIX,deepmind.com,ai
HOST-SUFFIX,deepmind.google,ai
HOST-SUFFIX,generativeai.google,ai
HOST-SUFFIX,colab.google.com,ai
HOST-SUFFIX,colab.research.google.com,ai
HOST-SUFFIX,developerprofiles.google.com,ai
HOST-SUFFIX,googleusercontent.com,ai
HOST-SUFFIX,googleapis.com,ai
HOST-SUFFIX,proactivebackend-pa.googleapis.com,ai

# > JetBrains AI
HOST-SUFFIX,grazie.ai,ai

# > Meta
HOST-SUFFIX,meta.ai,ai
HOST-SUFFIX,meta.com,ai

# > Notebooklm
HOST-SUFFIX,notebooklm.google.com,ai
HOST-SUFFIX,notebooklm.google,ai

# > Microsoft Copilot
HOST,api.msn.com,ai
HOST,assets.msn.com,ai
HOST,copilot.microsoft.com,ai
HOST,gateway.bingviz.microsoft.net,ai
HOST,gateway.bingviz.microsoftapp.net,ai
HOST,in.appcenter.ms,ai
HOST,location.microsoft.com,ai
HOST,odc.officeapps.live.com,ai
HOST,r.bing.com,ai
HOST,self.events.data.microsoft.com,ai
HOST,services.bingapis.com,ai
HOST,sydney.bing.com,ai
HOST,www.bing.com,ai
HOST-SUFFIX,api.microsoftapp.net,ai
HOST-SUFFIX,bing-shopping.microsoft-falcon.io,ai
HOST-SUFFIX,edgeservices.bing.com,ai

# > Midjourney
HOST-SUFFIX,midjourney.com,ai

# > OpenAI/ChatGPT
HOST,openaicom-api-bdcpf8c6d2e9atf6.z01.azurefd.net,ai
HOST,openaicomproductionae4b.blob.core.windows.net,ai
HOST,production-openaicom-storage.azureedge.net,ai
HOST-SUFFIX,ai.com,ai
HOST-SUFFIX,chatgpt.com,ai
HOST-SUFFIX,livekit.cloud,ai
HOST-SUFFIX,oaistatic.com,ai
HOST-SUFFIX,oaiusercontent.com,ai
HOST-SUFFIX,openai.com,ai
HOST-SUFFIX,azureedge.net,ai
HOST-SUFFIX,imgix.net,ai

# > Perplexity
HOST,pplx-res.cloudinary.com,ai
HOST-SUFFIX,perplexity.ai,ai
HOST-SUFFIX,pplx.ai,ai
HOST-SUFFIX,perplexity.com,ai

# > Poe
HOST-SUFFIX,poe.com,ai
HOST-SUFFIX,poecdn.net,ai
