# > Ai general rules
host, api.statsig.com, ai
host, browser-intake-datadoghq.com, ai
host, static.cloudflareinsights.com, ai
host-suffix, algolia.net, ai
host-suffix, auth0.com, ai
host-suffix, cloudflare.com, ai
host-suffix, arkoselabs.com, ai
host-suffix, statsigapi.net, ai
host-suffix, featuregates.org, ai
host-suffix, identrust.com, ai
host-suffix, intercom.io, ai
host-suffix, intercomcdn.com, ai
host-suffix, launchdarkly.com, ai
host-suffix, segment.io, ai
host-suffix, amazonaws.com, ai
host-suffix, wp.com, ai
host-suffix, sentry.io, ai
host-suffix, stripe.com, ai

# > Anthropic/Claude
host, cdn.usefathom.com, ai
host-suffix, anthropic.com, ai
host-suffix, claude.ai, ai
host-suffix, claudeusercontent.com, ai

# > Cursor
host-suffix, cursor.sh, ai

# > Dify AI
host-suffix, dify.ai, ai

# > Google AI (Gemini/Bard)
host, ai.google.dev, ai
host, makersuite.google.com, ai
host-suffix, gemini.google.com, ai
host-suffix, apis.google.com, ai
host-suffix, clients6.google.com, ai
host-suffix, clients4.google.com, ai
host-suffix, deepmind.com, ai
host-suffix, deepmind.google, ai
host-suffix, generativeai.google, ai
host-suffix, colab.google.com, ai
host-suffix, colab.research.google.com, ai
host-suffix, developerprofiles.google.com, ai
host-suffix, googleusercontent.com, ai
host-suffix, googleapis.com, ai
host-suffix, proactivebackend-pa.googleapis.com, ai

# > JetBrains AI
host-suffix, grazie.ai, ai

# > Meta
host-suffix, meta.ai, ai
host-suffix, meta.com, ai

# > Notebooklm
host-suffix, notebooklm.google.com, ai
host-suffix, notebooklm.google, ai

# > Microsoft Copilot
host, api.msn.com, ai
host, assets.msn.com, ai
host, copilot.microsoft.com, ai
host, gateway.bingviz.microsoft.net, ai
host, gateway.bingviz.microsoftapp.net, ai
host, in.appcenter.ms, ai
host, location.microsoft.com, ai
host, odc.officeapps.live.com, ai
host, r.bing.com, ai
host, self.events.data.microsoft.com, ai
host, services.bingapis.com, ai
host, sydney.bing.com, ai
host, www.bing.com, ai
host-suffix, api.microsoftapp.net, ai
host-suffix, bing-shopping.microsoft-falcon.io, ai
host-suffix, edgeservices.bing.com, ai

# > Midjourney
host-suffix, midjourney.com, ai

# > OpenAI/ChatGPT
host, openaicom-api-bdcpf8c6d2e9atf6.z01.azurefd.net, ai
host, openaicomproductionae4b.blob.core.windows.net, ai
host, production-openaicom-storage.azureedge.net, ai
host-suffix, ai.com, ai
host-suffix, chatgpt.com, ai
host-suffix, livekit.cloud, ai
host-suffix, oaistatic.com, ai
host-suffix, oaiusercontent.com, ai
host-suffix, openai.com, ai
host-suffix, azureedge.net, ai
host-suffix, imgix.net, ai

# > Perplexity
host, pplx-res.cloudinary.com, ai
host-suffix, perplexity.ai, ai
host-suffix, pplx.ai, ai
host-suffix, perplexity.com, ai

# > Poe
host-suffix, poe.com, ai
host-suffix, poecdn.net, ai
