# Proxy
host-suffix, 500px.com, direct
host-suffix, 9cache.com, direct
host-suffix, 9gag.com, direct
host-suffix, abc.com, direct
host-suffix, about.me, direct
host-suffix, anchor.fm, direct
host-suffix, annas-archive.org, direct
host-suffix, aomedia.org, direct
host-suffix, apkmirror.com, direct
host-suffix, apkpure.com, direct
host-suffix, archive.md, direct
host-suffix, archive.org, direct
host-suffix, archiveofourown.org, direct
host-suffix, artstation.com, direct
host-suffix, ask.com, direct
host-suffix, avg.com, direct
host-suffix, axios.com, direct
host-suffix, bandcamp.com, direct
host-suffix, bandwagonhost.com, direct
host-suffix, bbc.com, direct
host-suffix, behance.net, direct
host-suffix, bit.ly, direct
host-suffix, bloglovin.com, direct
host-suffix, blubrry.com, direct
host-suffix, box.com, direct
host-suffix, brave.com, direct
host-suffix, bsky.app, direct
host-suffix, bsky.social, direct
host-suffix, bsky.network, direct
host-suffix, bullguard.com, direct
host-suffix, cachefly.com, direct
host-suffix, cachefly.net, direct
host-suffix, castbox.fm, direct
host-suffix, change.org, direct
host-suffix, civitai.com, direct
host-suffix, cloudcone.com, direct
host-suffix, clyp.it, direct
host-suffix, cna.com.tw, direct
host-suffix, comparitech.com, direct
host-suffix, conoha.jp, direct
host-suffix, coursehero.com, direct
host-suffix, c-span.org, direct
host-suffix, cutout.pro, direct
host-suffix, dailymotion.com, direct
host-suffix, dashlane.com, direct
host-suffix, daum.net, direct
host-suffix, deadline.com, direct
host-suffix, depositphotos.com, direct
host-suffix, deviantart.com, direct
host-suffix, deviantart.net, direct
host-suffix, devv.ai, direct
host-suffix, dify.ai, direct
host-suffix, disconnect.me, direct
host-suffix, disqus.com, direct
host-suffix, dlive.tv, direct
host-suffix, docker.com, direct
host-suffix, dowjones.com, direct
host-suffix, duckduckgo.com, direct
host-suffix, earthcam.com, direct
host-suffix, edx-cdn.org, direct
host-suffix, encyclopedia.com, direct
host-suffix, evozi.com, direct
host-suffix, f-droid.org, direct
host-suffix, feeder.co, direct
host-suffix, feedly.com, direct
host-suffix, flickr.com, direct
host-suffix, flipboard.com, direct
host-suffix, flitto.com, direct
host-suffix, foreignaffairs.com, direct
host-suffix, foreignpolicy.com, direct
host-suffix, generated.photos, direct
host-suffix, genius.com, direct
host-suffix, getsync.com, direct
host-suffix, gfw.report, direct
host-suffix, git.io, direct
host-suffix, githack.com, direct
host-suffix, glarity.app, direct
host-suffix, godaddy.com, direct
host-suffix, goodreads.com, direct
host-suffix, graphql.org, direct
host-suffix, greasyfork.org, direct
host-suffix, gumroad.com, direct
host-suffix, hackmd.io, direct
host-suffix, heroku.com, direct
host-suffix, herokuapp.com, direct
host-suffix, hiccears.com, direct
host-suffix, hket.com, direct
host-suffix, huffpost.com, direct
host-suffix, huggingface.co, direct
host-suffix, i-cable.com, direct
host-suffix, imageglass.org, direct
host-suffix, imgur.com, direct
host-suffix, independent.co.uk, direct
host-suffix, inoreader.com, direct
host-suffix, is.gd, direct
host-suffix, issuu.com, direct
host-suffix, istockphoto.com, direct
host-suffix, joinmastodon.org, direct
host-suffix, justpaste.it, direct
host-suffix, jwplayer.com, direct
host-suffix, kakao.com, direct
host-suffix, kobo.com, direct
host-suffix, listennotes.com, direct
host-suffix, livestream.com, direct
host-suffix, mailchimp.com, direct
host-suffix, matrix.org, direct
host-suffix, medibang.com, direct
host-suffix, medium.com, direct
host-suffix, mega.co.nz, direct
host-suffix, mega.io, direct
host-suffix, mega.nz, direct
host-suffix, mixlr.com, direct
host-suffix, mod.io, direct
host-suffix, monica.im, direct
host-suffix, moon.fm, direct
host-suffix, mubi.com, direct
host-suffix, myspace.com, direct
host-suffix, myspacecdn.com, direct
host-suffix, nbcnews.com, direct
host-suffix, neowin.net, direct
host-suffix, netsarang.com, direct
host-suffix, newstatesman.com, direct
host-suffix, newsweek.com, direct
host-suffix, newyorker.com, direct
host-suffix, now.com, direct
host-suffix, ok.ru, direct
host-suffix, omny.fm, direct
host-suffix, openvpn.net, direct
host-suffix, owltail.com, direct
host-suffix, oxfordscholarship.com, direct
host-suffix, parsevideo.com, direct
host-suffix, paste.ee, direct
host-suffix, pastie.org, direct
host-suffix, patreon.com, direct
host-suffix, pcloud.com, direct
host-suffix, peing.net, direct
host-suffix, perplexity.ai, direct
host-suffix, player.fm, direct
host-suffix, podbean.com, direct
host-suffix, poe.com, direct
host-suffix, prism-break.org, direct
host-suffix, privoxy.org, direct
host-suffix, proton.me, direct
host-suffix, proxifier.com, direct
host-suffix, qbittorrent.org, direct
host-suffix, quora.com, direct
host-suffix, quoracdn.net, direct
host-suffix, qz.com, direct
host-suffix, radioline.co, direct
host-suffix, reabble.com, direct
host-suffix, redditlist.com, direct
host-suffix, resilio.com, direct
host-suffix, rsshub.app, direct
host-suffix, rthk.hk, direct
host-suffix, scmp.com, direct
host-suffix, scribd.com, direct
host-suffix, search.com, direct
host-suffix, shutterstock.com, direct
host-suffix, signal.org, direct
host-suffix, singlelogin.me, direct
host-suffix, sketchappsources.com, direct
host-suffix, slideshare.net, direct
host-suffix, sm.ms, direct
host-suffix, smartmailcloud.com, direct
host-suffix, smh.com.au, direct
host-suffix, speakerdeck.com, direct
host-suffix, spideroak.com, direct
host-suffix, spiegel.de, direct
host-suffix, startpage.com, direct
host-suffix, steemit.com, direct
host-suffix, straitstimes.com, direct
host-suffix, streamable.com, direct
host-suffix, substack.com, direct
host-suffix, swissinfo.ch, direct
host-suffix, tapatalk.com, direct
host-suffix, techspot.com, direct
host-suffix, textnow.me, direct
host-suffix, theage.com.au, direct
host-suffix, theatlantic.com, direct
host-suffix, theaustralian.com.au, direct
host-suffix, theconversation.com, direct
host-suffix, thediplomat.com, direct
host-suffix, theguardian.com, direct
host-suffix, theinitium.com, direct
host-suffix, themoviedb.org, direct
host-suffix, thetvdb.com, direct
host-suffix, time.com, direct
host-suffix, tineye.com, direct
host-suffix, tiny.cc, direct
host-suffix, torproject.org, direct
host-suffix, tortoisesvn.net, direct
host-suffix, tradingview.com, direct
host-suffix, turbobit.net, direct
host-suffix, tutanota.com, direct
host-suffix, typeset.io, direct
host-suffix, urbandictionary.com, direct
host-suffix, ustream.tv, direct
host-suffix, v2ex.com, direct
host-suffix, venturebeat.com, direct
host-suffix, vercel.app, direct
host-suffix, viber.com, direct
host-suffix, vimeo.com, direct
host-suffix, vivaldi.com, direct
host-suffix, voxer.com, direct
host-suffix, vzw.com, direct
host-suffix, washingtonpost.com, direct
host-suffix, wattpad.com, direct
host-suffix, welt.de, direct
host-suffix, whoer.net, direct
host-suffix, wikimapia.org, direct
host-suffix, wikiwand.com, direct
host-suffix, wire.com, direct
host-suffix, wireguard.com, direct
host-suffix, wn.com, direct
host-suffix, worldcat.org, direct
host-suffix, writesonic.com, direct
host-suffix, wsj.com, direct
host-suffix, wsj.net, direct
host-suffix, x.co, direct
host-suffix, you.com, direct
host-suffix, you-get.org, direct
host-suffix, zaobao.com, direct
host-suffix, zello.com, direct
host-suffix, zeronet.io, direct
host-suffix, z-lib.org, direct
host-suffix, zophar.net, direct
host-suffix, zyxel.com, direct

host, cdn.jsdelivr.net, direct
host, cdn.statically.io, direct
host, lab.skk.moe, direct
host, ocsp.int-x3.letsencrypt.org, direct
host, search.arc.net, direct

# > Akamai
host, a248.e.akamai.net, direct
host, a771.dscq.akamai.net, direct
# > Amazon
host-suffix, amazon.co.jp, direct
host, d3c33hcgiwev3.cloudfront.net, direct
host, payments-jp.amazon.com, direct
host, s3-ap-northeast-1.amazonaws.com, direct
host, s3-ap-southeast-2.amazonaws.com, direct
host, s3-ap-southeast-1.amazonaws.com, direct
host, s3.eu-central-1.amazonaws.com, direct
# > Alphabet
# DOMAIN-SUFFIX,ampproject.org
host-suffix, apigee.com, direct
host-suffix, appspot.com, direct
host-suffix, blogger.com, direct
host-suffix, gvt0.com, direct
host-suffix, gvt1.com, direct
host-suffix, gvt3.com, direct
host-suffix, tenor.com, direct
host-suffix, xn--ngstr-lra8j.com, direct
host-keyword, google, direct
host-keyword, .blogspot., direct
# > Apple
host, testflight.apple.com, direct
# > Automattic
host-suffix, gravatar.com, direct
host-suffix, tumblr.com, direct
host-suffix, videopress.com, direct
host-suffix, wordpress.com, direct
# > Bloomberg
host-suffix, bloomberg.cn, direct
host-suffix, bloomberg.com, direct
host-suffix, bloomberg.de, direct
host-suffix, bloombergview.com, direct
# > Cloudflare
host-suffix, pages.dev, direct
host-suffix, workers.dev, direct
# > Clubhouse
host-suffix, clubhouseapi.com, direct
host-suffix, joinclubhouse.com, direct
host, clubhouse.pubnubapi.com, direct
# ---(Crypto)---
host-suffix, bitcointalk.org, direct
host-suffix, bitfinex.com, direct
host-suffix, bitflyer.com, direct
host-suffix, bitget.com, direct
host-suffix, bithumb.com, direct
host-suffix, bitstamp.net, direct
host-suffix, coinbase.com, direct
host-suffix, coingecko.com, direct
host-suffix, coinmarketcap.com, direct
host-suffix, crypto.com, direct
host-suffix, dydx.exchange, direct
host-suffix, etherscan.io, direct
host-suffix, gate.io, direct
host-suffix, gemini.com, direct
host-suffix, kraken.com, direct
host-suffix, kucoin.com, direct
host-suffix, mexc.com, direct
host-suffix, probit.com, direct
host-suffix, uniswap.org, direct
host-suffix, upbit.com, direct
# > Binane
host-suffix, binance.com, direct
host-suffix, binance.info, direct
host-suffix, bnbstatic.com, direct
host-suffix, bntrace.com, direct
host-suffix, yingwangtech.cloud, direct
# > Bybit
host-suffix, byabcde.com, direct
host-suffix, bybdc6.com, direct
host-suffix, bybit.com, direct
host-suffix, bybitglobal.com, direct
host-suffix, ffbbbdc6d3c353211fe2ba39c9f744cd.com, direct
# > OKX
host-suffix, okx.com, direct
host-suffix, okx.com.cdn.cloudflare.net, direct
# ------
# > Discord
host-suffix, discord.com, direct
host-suffix, discordapp.com, direct
host-suffix, discord.gg, direct
host-suffix, discordapp.net, direct
# > Dropbox
host-suffix, dropbox.com, direct
host-suffix, dropboxapi.com, direct
host-suffix, dropboxusercontent.com, direct
# > Fastly
host-suffix, freetls.fastly.net, direct
host-suffix, global.ssl.fastly.net, direct
# > Financial Times
host-suffix, ft.com, direct
host-suffix, ftchinese.com, direct
host-suffix, ftimg.net, direct
host, d1e00ek4ebabms.cloudfront.net, direct
host, d19eijqb5qll1w.cloudfront.net, direct
# > Line
host-suffix, line.me, direct
host-suffix, line-apps.com, direct
host-suffix, line-scdn.net, direct
host-suffix, naver.jp, direct
# > Meta
host-suffix, accountkit.com, direct
host-suffix, cdninstagram.com, direct
host-suffix, f8.com, direct
host-suffix, facebookmail.com, direct
host-suffix, fb.com, direct
host-suffix, fb.me, direct
host-suffix, fb.watch, direct
host-suffix, fbaddins.com, direct
host-suffix, fbcdn.net, direct
host-suffix, fbsbx.com, direct
host-suffix, fbworkmail.com, direct
host-suffix, instagram.com, direct
host-suffix, m.me, direct
host-suffix, messenger.com, direct
host-suffix, meta.ai, direct
host-suffix, meta.com, direct
host-suffix, oculus.com, direct
host-suffix, oculuscdn.com, direct
host-suffix, readyatdawn.com, direct
host-suffix, rocksdb.org, direct
host-suffix, threads.net, direct
host-suffix, whatsapp.com, direct
host-suffix, whatsapp.net, direct
host-keyword, .facebook., direct
# > Microsoft
host-suffix, aka.ms, direct
host-suffix, github.blog, direct
host-suffix, github.com, direct
host-suffix, github.io, direct
host-suffix, githubassets.com, direct
host-suffix, githubusercontent.com, direct
host-suffix, onedrive.live.com, direct
host-suffix, streaming.mediaservices.windows.net, direct
host, assets1.xboxlive.com, direct
host, assets2.xboxlive.com, direct
host, az416426.vo.msecnd.net, direct
host, az668014.vo.msecnd.net, direct
host, github.global.ssl.fastly.net, direct
# > OpenAI
host-suffix, chatgpt.com, direct
host-suffix, openai.com, direct
# > Pinterest
host-suffix, pinimg.com, direct
host-keyword, .pinterest., direct
# > pixiv
host-suffix, pixiv.net, direct
host-suffix, pixiv.org, direct
host-suffix, pixivsketch.net, direct
host-suffix, pximg.net, direct
# > Reddit
host-suffix, redd.it, direct
host-suffix, reddit.com, direct
host-suffix, redditmedia.com, direct
host-suffix, redditstatic.com, direct
# > Reuters
host-suffix, reuters.com, direct
host-suffix, reutersmedia.net, direct
# > Steam
host-suffix, steamcommunity.com, direct
# DOMAIN,store.steampowered.com
# ---(Telegram)---
host-suffix, cdn-telegram.org, direct
host-suffix, comments.app, direct
host-suffix, graph.org, direct
host-suffix, legra.ph, direct
host-suffix, quiz.directory, direct
host-suffix, t.me, direct
host-suffix, tdesktop.com, direct
host-suffix, telegra.ph, direct
host-suffix, telegram.dog, direct
host-suffix, telegram.me, direct
host-suffix, telegram.org, direct
host-suffix, telegram.space, direct
host-suffix, telegram-cdn.org, direct
host-suffix, telesco.pe, direct
host-suffix, tg.dev, direct
# ------
# > The Economist
host-suffix, economist.com, direct
host-suffix, static-economist.com, direct
# > The New York Times
host-suffix, newyorktimes.com, direct
host-suffix, nyt.com, direct
host-suffix, nytco.com, direct
host-suffix, nytimes.com, direct
host-suffix, nytimg.com, direct
host-suffix, nytlog.com, direct
host-suffix, nytstyle.com, direct
host-suffix, tmagazine.com, direct
host, nytimes.map.fastly.net, direct
# > Wikimedia Foundation
host-suffix, mediawiki.org, direct
host-suffix, wikibooks.org, direct
host-suffix, wikidata.org, direct
host-suffix, wikileaks.org, direct
host-suffix, wikimedia.org, direct
host-suffix, wikimediafoundation.org, direct
host-suffix, wikinews.org, direct
host-suffix, wikipedia.org, direct
host-suffix, wikiquote.org, direct
host-suffix, wikisource.org, direct
host-suffix, wikiversity.org, direct
host-suffix, wikivoyage.org, direct
host-suffix, wiktionary.org, direct
# > xAI
host-suffix, grok.com, direct
host-suffix, periscope.tv, direct
host-suffix, pscp.tv, direct
host-suffix, t.co, direct
host-suffix, tweetdeck.com, direct
host-suffix, twimg.co, direct
host-suffix, twimg.com, direct
host-suffix, twitpic.com, direct
host-suffix, twitter.com, direct
host-suffix, twitter.jp, direct
host-suffix, vine.co, direct
host-suffix, x.ai, direct
host-suffix, x.com, direct
# > Yahoo
host-suffix, yahoo.com, direct
host-suffix, yimg.com, direct
host, search.yahoo.co.jp, direct
# > Yandex
host-suffix, yadi.sk, direct
host-suffix, yandex.ru, direct
host, disk.yandex.com, direct
# > Z-Library
host-suffix, articles.sk, direct
host-suffix, go-to-library.sk, direct
host-suffix, singlelogin.re, direct
host-suffix, singlelogin.rs, direct
host-suffix, z-lib.gs, direct
host-suffix, z-library.rs, direct

# (Region-Restricted Access Denied)
host-suffix, cnbeta.com.tw, direct
host-suffix, engadget.com, direct
host-suffix, ifixit.com, direct
host-suffix, terabox.com, direct
host-suffix, wowhead.com, direct
host-suffix, wunderground.com, direct
host-suffix, xiaomi.eu, direct
host-suffix, zaobao.com.sg, direct
host-suffix, zoominfo.com, direct

host-suffix, zoom.us, direct
host, addons.mozilla.org, direct
host, community.oneplus.com, direct
host, wego.here.com, direct

# Alibaba
host, login.alibaba.com, direct
host, merchant-rating.alibaba.com, direct
# > Alphabet
host-suffix, go.dev, direct
host-suffix, golang.org, direct
# ---(Apple)---
host-suffix, appsto.re, direct
host-suffix, smoot.apple.com, direct
host, amp-api.podcasts.apple.com, direct
host, beta.music.apple.com, direct
host, books.itunes.apple.com, direct
host, facetime.apple.com, direct
host, lookup-api.apple.com, direct
host, radio.itunes.apple.com, direct
host, apple-relay.apple.com, direct
host, apple-relay.cloudflare.com, direct
host, apple-relay.fastly-edge.com, direct
host, cp4.cloudflare.com, direct
# > Mi
host, c.mi.com, direct
host, new.c.mi.com, direct
# > Web Preview
host, apps.apple.com, direct
host, books.apple.com, direct
host, itunes.apple.com, direct
host, tv.apple.com, direct
# > News
host, gateway.icloud.com, direct
host-suffix, apple.news, direct
host, news-assets.apple.com, direct
host, news-client.apple.com, direct
host, news-client-search.apple.com, direct
host, news-edge.apple.com, direct
host, news-events.apple.com, direct
host, apple.comscoreresearch.com, direct
# ------
# > Microsoft
host-suffix, bing.com, direct
host-suffix, linkedin.com, direct
host-suffix, licdn.com, direct
host-suffix, msn.com, direct
host, copilot.microsoft.com, direct