# > Ai general rules
host, api.statsig.com
host, browser-intake-datadoghq.com
host, static.cloudflareinsights.com
host-suffix, algolia.net
host-suffix, auth0.com
host-suffix, cloudflare.com
host-suffix, arkoselabs.com
host-suffix, statsigapi.net
host-suffix, featuregates.org
host-suffix, identrust.com
host-suffix, intercom.io
host-suffix, intercomcdn.com
host-suffix, launchdarkly.com
host-suffix, segment.io
host-suffix, amazonaws.com
host-suffix, wp.com
host-suffix, sentry.io
host-suffix, stripe.com

# > Anthropic/Claude
host, cdn.usefathom.com
host-suffix, anthropic.com
host-suffix, claude.ai
host-suffix, claudeusercontent.com

# > Cursor
host-suffix, cursor.sh

# > Dify AI
host-suffix, dify.ai

# > Google AI (Gemini/Bard)
host, ai.google.dev
host, makersuite.google.com
host-suffix, gemini.google.com
host-suffix, apis.google.com
host-suffix, clients6.google.com
host-suffix, clients4.google.com
host-suffix, deepmind.com
host-suffix, deepmind.google
host-suffix, generativeai.google
host-suffix, colab.google.com
host-suffix, colab.research.google.com
host-suffix, developerprofiles.google.com
host-suffix, googleusercontent.com
host-suffix, googleapis.com
host-suffix, proactivebackend-pa.googleapis.com

# > JetBrains AI
host-suffix, grazie.ai
  
# > Meta
host-suffix, meta.ai
host-suffix, meta.com

# > Microsoft Copilot
host, api.msn.com
host, assets.msn.com
host, copilot.microsoft.com
host, gateway.bingviz.microsoft.net
host, gateway.bingviz.microsoftapp.net
host, in.appcenter.ms
host, location.microsoft.com
host, odc.officeapps.live.com
host, r.bing.com
host, self.events.data.microsoft.com
host, services.bingapis.com
host, sydney.bing.com
host, www.bing.com
host-suffix, api.microsoftapp.net
host-suffix, bing-shopping.microsoft-falcon.io
host-suffix, edgeservices.bing.com

# > Midjourney
host-suffix, midjourney.com

# > OpenAI/ChatGPT
host, openaicom-api-bdcpf8c6d2e9atf6.z01.azurefd.net
host, openaicomproductionae4b.blob.core.windows.net
host, production-openaicom-storage.azureedge.net
host-suffix, ai.com
host-suffix, chatgpt.com
host-suffix, livekit.cloud
host-suffix, oaistatic.com
host-suffix, oaiusercontent.com
host-suffix, openai.com
host-suffix, azureedge.net
host-suffix, imgix.net

# > Perplexity
host, pplx-res.cloudinary.com
host-suffix, perplexity.ai
host-suffix, pplx.ai
host-suffix, perplexity.com

# > Poe
host-suffix, poe.com
host-suffix, poecdn.net